{% load static %}
<html>
<head>
    <link rel="stylesheet" href=" {% static 'social_network/css/login.css' %} ">
    <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/favicon.ico' %}"
    />
</head>
<body>

{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
     
        <h2 class="active"> Sign In </h2>
        <h2 class="inactive underlineHover"><a href="{% url 'signup' %}">Sign Up</a></h2>

        <form method="post">
            {% csrf_token %}
            &nbsp;
            {{form.as_p}}

            <input type="submit" class="fadeIn fourth" value="Submit">
        </form>

    </div>
</div>
{% endblock %}
<script src="{% static 'social_network/js/login.js' %}"></script>

</body>
</html>