{% load static %}
<html>
<head>
    <link rel="stylesheet" href=" {% static 'social_network/css/login.css' %} ">
    <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/favicon.ico' %}"
    />
</head>
<body>
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">

        <h2 class="inactive underlineHover"><a href="{% url 'login' %}">Sign In</a></h2>
        <h2 class="active">Sign Up</h2>

        <form method="post">
            {% csrf_token %}
            &nbsp;
            {{form}}

            <input type="submit" class="fadeIn fourth" value="Register">
        </form>

    </div>
</div>
{% endblock %}
<script src="{% static 'social_network/js/signup.js' %}"></script>
</body>


</html>