{% extends "base.html" %}
{% load static %}

{% load our_post_tags %}

{% block title %}
Profile
{% endblock %}

{% block active_profile %}
active_text
{% endblock %}

{% block imgHome %}
<img class="home_pic" src="{% static 'img/home.png' %}" alt="main_left" />
{% endblock %}

{% block imgProfile %}
<img class="profile_pic" src="{% static 'img/profile-active.png' %}" alt="profile_left" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}" />
{% endblock %}

{% block content%}
<div class="profile_page">
  <div class="top_line">
    <img src="{% static 'img/back.svg' %}" alt="back" class="back_button_profile" onclick="javascript:history.back();">
    <span class="name__profile">{{ author.username }}</span>
  </div>
  <div class="profile_photo_background">
    <img src="{{ author.background.background.url }}" alt="profile_photo_background"
      class="profile_photo_background-photo">
  </div>

  <div class="avatar_on_profile-block">
    <img src="{{author.avatar.avatar.url}}" alt="avatar" class="avatar_on_profile">
  </div>
  <div class="profile_page-body">
    <div class="about_profile_user">
      <div class="about_profile_user-first-block">
        <div class="profile_user_name">
          {{ author.username }}
        </div>
        <div class="another_users-info">
          <div class="following">{{ author.following.count }} Following</div>
          <div class="followers">{{ author.followers.count }} Followers</div>
        </div>
      </div>
      <div class="edit_profile">
        {% if user.is_authenticated %}
        {% if user != author %}
        {% if user in author.following.all %}
        <button class="edit_profile-button">
          <a class="edit_profile-link" href="{{ author.getPkFollowToggle }}">Unfollow</a>
        </button>
        {% else %}
        <button class="edit_profile-button">
          <a class="edit_profile-link" href="{{ author.getPkFollowToggle }}">Follow</a>
        </button>
        {% endif %}
        {% else %}
        <button class="edit_profile-button">Edit</button>
        {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="block_with_post_user">
      {% getCountPostUser id=author.id as countPost %}
      <span class="my_posts">My posts: <span class="my_posts-number">{{ countPost }}</span></span>
    </div>

    {% getPostUser id=author.id as postThisUser %}

    {% for post in postThisUser %}
    <div class="user_post">
      <a href="{{ post.userId.getUsernameProfile }}" class="user_avatar-link"><img class="avatar online" src="{{author.avatar.avatar.url}}"
          alt="avatar" /></a>

      <div class="about_user">

        <a href="{{ post.userId.getUsernameProfile }}" class="nickname_post">{{post.userId}}</a>

        <span class="post_subtitle">
          {{post.message}}
        </span>
        {% for img in post.content.all %}
        <div class="div_image_post">
          <img src="{{img.photo.url}}" class="image_post" />
        </div>
        {% endfor%}
      </div>
    </div>
    {% endfor %}


  </div>
</div>
{% endblock %}